.scrollbar_container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1300px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.scrollbar_track {
  position: relative;
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
}

.scrollbar_track::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 39px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
}

.scrollbar_indicator {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 27px;
  background-color: #0080ff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.6s ease;
  z-index: 2;
}

.scrollbar_indicator svg {
  color: #ffffff;
  stroke: #ffffff;
  fill: none;
  stroke-width: 3;
}

.dot_indicators {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1;
}

.dot {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: white;
  transform: scale(1.2);
}

@keyframes circleExpand {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  pointer-events: none;
}

.dot.animate::after {
  animation: circleExpand 0.6s ease-out forwards;
} 